body{
    background-image: url(mainbackground.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    Height: 100vh;
}

.ch1 {
    color: white;
}

h1{
    text-align:center;
    color: white;
}

h2{
    text-align:center;
    color:white;
}

p{
    color:white;
    text-align:center;
}

li{
    color:white;
}
.navbar ul{
    list-style-type:none;
    background-color:black;
    padding:0px;
    margin:0px;
    overflow:hidden;
}

.navbar a{
    color:white;
    text-decoration:none;
    padding:15px;
    display:block;
    text-align:center;
}

.navbar a:hover{
    background-color: darkblue
}

.navbar li{
    float:left;
}


.font {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Button CSS */

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap");


  
  .btn {
    all: unset;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    cursor: pointer;
  }
  
  .btn > .circle {
    --size: 2.5rem;
    position: absolute;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    background-color:rgba(0, 34, 255, 0.64);
    border-radius: 1.5rem;
    z-index: -1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  
  .text {
    margin-right: 10rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.45s;
  }
  .circle > i {
    font-size: 1rem;
    position: absolute;
    left: calc(var(--size) / 2);
    top: calc(var(--size) / 2);
    transform: translate(-50%, -50%);
    color: black;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }
  
  .btn:hover > .circle {
    width: 15%;
  }
  .btn:hover > .circle > i {
    translate: 1rem 0;
  }
  .btn:hover > .text {
    color: black;
  }